# Dependency directories
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Android
android/build/
android/app/build/
android/app/release/
android/app/debug/

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Temporary files
*.swp
*.swo

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# firebase.js
src/config/firebase.js